.logo {
    text-align:center;
    color: white;
    padding: 280px;
    font-size: 30px;
    background-image:url(/img/backgrounds/h_img.jpg);
}
.aboutus{
    text-align: center;
    background-color: white;
    padding: 30px;
    font-size: 15px;
}
.services{
    text-align: center;
    background-image: url(/img/backgrounds/s_image.jpg);
    padding: 30px;
    font-size: 15px;
    color: white;
}
.sec4{
    text-align: center;
    padding: 30px;
    font-size: 15px;
}
.column{
    flex:33.33%;
    padding:70px;
    text-align: center;
}
.row{
    display: flex;
}
.mystyle{
    width:100%;
    padding:25px;
    background-color: white;
    font-size: 25px;
    box-sizing:border-box;
    image-orientation: ;
}

* {
    box-sizing: border-box;
  }
  
  
  
  /* Clearfix (clear floats) */
  .row2::after {
    content: "";
    clear: both;
    display: table;
  }
  .contact{
      background-image: url(/img/backgrounds/c_image.jpg) ;
      text-align:center;
      padding: 210px;
      background-color: transparent;
      color: white;

  }

  textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color:transparent;
    font-size: 16px;
    resize: none;
    color: white;
  }
  input[type=text]  {
    background-color:transparent;
    color: white;
  }
  button {
    padding: 5px 10px;
    font-size: 14px;
}
.column2 {
    position: flex;
    width: 50%;
  }
  .column2 {
    float: left;
    width: 274px;
    padding: 6px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto ;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: tra;
    overflow: hidden;
    width: 280px;
    height:0;
    transition: .5s ease;
  }
  
  .column2:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .social{
      text-align: center;
      padding: 20px;
  }
  input[type=submit]  {
    background-color:transparent;
    color: white;
  }
  .mouse{
      line-height: 300px;
      height: 30px;
  }
  .container{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
  }
 
  